<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/cart.css">
    <link rel="stylesheet" href="/css/home.css">
    <script src="js/input.js"></script>
    <title>Cart</title>

</head>
<body>
    <nav class="navbar">
        <div class="brand-title"><a href="/" class="acolor">BuyIteams</a></div>
        <a href="#" class="toggle-button">
          <span class="bar"></span>
          <span class="bar"></span>
          <span class="bar"></span>
        </a>
        <div class="navbar-links">
          <ul>
            <li><a href="/cart"><i class="fa" style="font-size:24px">&#xf07a;</i> <span class='badge badge-warning' id='cartid2'>  <%- JSON.stringify(count) %> </span></a></li>
            <li><a href="#" class="navbarfontsize">Orders</a></li>
            <li><a href="#" class="navbarfontsize">Login</a></li>
          </ul>
        </div>
    </nav>

    <main>
        <div class="basket">
          <div class="basket-module">
            <!-- <label for="promo-code">Enter a promotional code</label>
            <input id="promo-code" type="text" name="promo-code" maxlength="5" class="promo-code-field">
            <button class="promo-code-cta">Apply</button> -->
           <h4 class="totalcosth4">SubTotal $ <%- JSON.stringify(totalcost) %> </h4>
           <button class="checkoutbutton">Proceed to checkout</button>
    
          </div>
          <% user.forEach(function(user){%>
            
          <div class="basket-product">
            <div class="item">
              <div class="product-image">
                <img src="<%=user.ImageUrl %>" alt="Placholder Image 2" class="product-frame">
              </div>
              <div class="product-details">
                <h1 class="discription">   <%=user.ProductName %></h1>
                <h1 class="priceh1"><bold><%=user.ProductPrice %> </bold></h1>
                <input type="text" hidden value="<%=user.CartId %>" id="cartid">
                
              </div>
            </div>
           
            <div class="quantity"> Quantity :
              <select class="Q1" name="Quantity"  id="Quantity">
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
                <option value="6">6</option>
                <option value="7">7</option>
                <option value="8">8</option>
                <option value="9">9</option>
                <option value="10">10</option>
              </select>
              
            </div>
            <button class="button1" onclick="values(`<%=user.CartId %>`)"><a href="/cart">Delete</a></button> 
           
          </div>
    
          <%}); %>
          
        </div>
        </main>
    
        <div>
          <span style="margin: 100px;">   <a href="/cart"><i class="fa fa-home " style="font-size:50px;"></i>  </a></span>
          <span>   <a href="/cart"><i class="fa fa-7x" style="font-size:50px">&#xf07a;</i> <span class='badge badge-warning' id='cartid2'>  <%- JSON.stringify(count) %> </span></a></span>
           </div>
    
</body>
</html>